<!DOCTYPE html>
<html>

<head>
    <!-- Page Title -->
    <title>Customer Home Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- CSS for Styling -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- JavaScript for Interactivity -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</head>

<body>
    <h1>PandaFood</h1>
    <br />
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Logged in as <%= userName%></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/customer/orders">Order <span
                        class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/customer/history">Past Orders and Reviews</a>
                <a class="nav-item nav-link" href="/customer/accounts">Accounts</a>
            </div>
        </div>
    </nav>
    <br />
    <h2>Order ID:</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Restaurant</th>
                <th scope="col">Item</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity selected</th>
                <th scope="col">Total item price</th>
                <th scope="col">Quantity To Remove</th>
                <th scope="col">Remove</th>
            </tr>
        </thead>
        <tbody>
            <% for(var i=0; i<picksData.length; i++) { %>
            <tr>
                <form id="html_form" action="/customer/removeItem" role="form" method="post">
                    <td><%= picksData[i].rname%></td>
                    <td><%= picksData[i].iname%></td>
                    <td><%= picksData[i].price%></td>
                    <td><%= picksData[i].qtyordered%></td>
                    <td><%= picksData[i].sumprice%></td>
                    <td><input type="number" name="removeQty" min="1" step="1"></td>
                    <td><button type="submit" class="btn btn-primary" name="itemIdtoRemove"
                        value='<%= picksData[i].itemid%>'>Remove</button></td>
                </form>
            </tr>
            <% } %>
        </tbody>
    </table>
    <br />
    <% var j=0; for(var i=0; i<picksData.length; i++) { j = picksData[i].foodsubtotal; } %>
    <h5>Total price: $<%= j %></h5>
    <form id="html_form" action="/customer/confirmOrder" role="form" method="post">
        <button type="submit" class="btn btn-primary" name="confirm" value="1">Confirm order</button>
    </form>
    <br />
    <form id="html_form" action="/customer/deleteCurrentOrder" role="form" method="post">
        <button type="submit" class="btn btn-light btn-lg btn-block" name="add" value='<%= foodData[i].itemid%>'>Forfeit Current Order and Go Back to
            Restaurant Selection</button>
    </form>
    <br />
    <div class="alert alert-warning collapse" role="alert" id="loginAlert">
        Either the user account does not exist or the password is incorrect.
    </div>
    <br />
    <h2>Pick Some Food!</h2>
    <br />
    <table class="table">
        <thead>
            <tr>

                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Category</th>
                <th scope="col">Rating</th>
                <th scope="col">Quantity</th>
                <th scope="col">Select</th>
            </tr>
        </thead>
        <tbody>
            <% for(var i=0; i<foodData.length; i++) { %>
            <tr>
                <form id="html_form" action="/customer/addItem" role="form" method="post">

                    <td><%= foodData[i].itemname%></td>
                    <td><%= foodData[i].price%></td>
                    <td><%= foodData[i].category%></td>
                    <td><%= foodData[i].rating%></td>
                    <td><input type="number" name="itemQty" min="1" step="1"></td>
                    <td><button type="submit" class="btn btn-primary" name="add"
                            value='<%= foodData[i].itemid%>'>Select</button></td>
                </form>
            </tr>
            <% } %>
        </tbody>
    </table>
</body>