<!DOCTYPE html>
<html>

<head>
    <!-- Page Title -->
    <title>Menu Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- CSS for Styling -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- JavaScript for Interactivity -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</head>

<body>
    <h1><%=title%></h1>
    <h1>Menu</h1>
    <table class="table">
        <tr style="background-color: #FFFACD">
            <th scope="col">Item ID</th>
            <th scope="col">Category</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Qty Ordered Today</th>
            <th scope="col">Daily Limit</th>
            <th scope="col">Is Selling</th>
            <th scope="col">Is Available</th>
            <th scope="col">Rating</th>
        </tr>
        </thead>
        <tbody>
            <% for(var i=0; i<menu.length; i++) { %>
            <tr>
                <td><%= menu[i].itemid%></td>
                <td><%= menu[i].category%></td>
                <td><%= menu[i].name%></td>
                <td><%= menu[i].price%></td>
                <td><%= menu[i].qtyorderedtoday%></td>
                <td><%= menu[i].dailylimit%></td>
                <td><%= menu[i].isselling%></td>
                <td><%= menu[i].isavailabletoday%></td>
                <td><%= menu[i].rating%></td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <form id="html_form" action="/restaurantStaffHomePage/addItem" role="form" method="GET">
        <button type="submit" class="btn btn-primary" name="addItem" value="1">Add Item</button>
    </form>
    <br>
    <form id="html_form" action="/restaurantStaffHomePage/editItem" role="form" method="GET">
        <button type="submit" class="btn btn-primary" name="editItem" value="1">Edit Item</button>
    </form>
    <br>
    <form id="html_form" action="/restaurantStaffHomePage/deleteItem" role="form" method="GET">
        <button type="submit" class="btn btn-primary" name="deleteItem" value="1">Delete Item</button>
    </form>
    <br>
    <br>
    <button id="Add Item 2" class="float-left submit-button" >Add Item</button>
    <script type="text/javascript">
        document.getElementById("Add Item 2").onclick = function () {
            location.href = "/restaurantStaffHomePage/addItem";
        };
    </script>
    <br>
    <button id="Edit Item 2" class="float-left submit-button" >Edit Item</button>
    <script type="text/javascript">
        document.getElementById("Edit Item 2").onclick = function () {
            location.href = "/restaurantStaffHomePage/editItem";
        };
    </script>
    <br>
    <button id="Delete Item 2" class="float-left submit-button" >Delete Item</button>
    <script type="text/javascript">
        document.getElementById("Delete Item 2").onclick = function () {
            location.href = "/restaurantStaffHomePage/deleteItem";
        };
    </script>
</body>

</html>