<!DOCTYPE html>
<html>
  <head>
		<!-- Page Title -->
    <title>Riders Home Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
		
		<!-- CSS for Styling -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		
		<!-- JavaScript for Interactivity -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </head>
  <body>
  	<h1>Welcome, <%= riderData[0].name%></h1>
  	<h4>Your rating: <%= riderData[0].overallrating %> / 5</h4>
  	<br />
  	<br />
  	<h2>Current job</h2>
  	<% if (orderData.length == 0) { %><h5>None</h5> <% } %>
  	<% if (orderData.length > 0) { %>
  	<table class="table">
  		<thead>
				<tr>
					<th scope="col">Restaurant</th>
					<th scope="col">Restaurant address</th>
					<th scope="col">Delivery address</th>
					<th scope="col">Customer name</th>
					<th scope="col">Customer phone number</th>
					<th scope="col">Delivery fee</th>
					<th scope="col">Time order placed</th>
				</tr>
			</thead>
			<tbody>
				<% for(var i=0; i<orderData.length; i++) { %>
				<tr>
					<% console.log(orderData); %>
					<td><%= orderData[i].rname%></td>
					<td><%= orderData[i].raddress%></td>
					<td><%= orderData[i].caddress%></td>
					<td><%= orderData[i].cname%></td>
					<td><%= orderData[i].phoneno%></td>
					<td><%= orderData[i].deliveryfee%></td>
					<td><%= orderData[i].timeplaced%></td>
				</tr>
				<% } %>
			</tbody>
		</table>
		<% } %>
		<form id="html_form" action="/riderHomePage" role="form" method="post">
		<% if (orderData.length > 0) { %>
		<button type="submit" class="btn btn-primary" name="arrived" value='<%= orderData[0].orderid %>'>Arrived at restaurant</button>
		<button type="submit" class="btn btn-primary" name="collected" value='<%= orderData[0].orderid %>'>Collected order</button>
		<button type="submit" class="btn btn-primary" name="delivered" value='<%= orderData[0].orderid %>'>Delivered order</button>
		<% } %>
		<br /><br />
		<button type="submit" class="btn btn-primary" name="schedules" value='4'>View your schedules</button>
		<br /><br />
		<button type="submit" class="btn btn-primary" name="payments" value='5'>View your payments</button>
		<br /><br />
		<button type="submit" class="btn btn-primary" name="deliveries" value='6'>View your deliveries</button>
		</form>
		<br />

  </body>